<!DOCTYPE html>
<html>
<head>
	<title>Input form</title>
</head>
<body>
	<form class="probootstrap-form" action="/output/" method="get">
             <!-- <h2 class="text-black mt0">Get In Touch</h2>-->
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Your Name">
           </div>
           <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Your Email">
           </div>
           <div class="form-group">
            <input type="text" class="form-control" name="phone" placeholder="Your Phone">
           </div>
           <div class="form-group">
            <textarea class="form-control" cols="30" rows="10"name = "message" placeholder="Write a Message"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Send Message">
         </div>
    </form>
</body>
</html>